{% extends 'base.html' %}
{% block content %}
    <h2>Edit Student</h2>

    <form action="/students/{{student.id}}" method="POST">
        <div>
            <label for="name">First and Second name of the Student:</label>
            <input type="text" id="name" name="name" value="{{student.name}}">
        </div>
        <div>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" value="{{student.dob}}">
        </div>
        <div>
            <label for="experience">Experience:</label>
            <input type="text" id="experience" name="experience" value="{{student.experience}}">
        </div>
        <div>
            <label for="course_id">Select Course:</label>
            <select name="course_id" id="course_id" >
                {% for course in courses %}
                <option value="{{course.id}}"> {{ course.title }}</option>
                {% endfor %}
            </select>
        </div>


        <input type="submit" value="Save Changes">

    </form>
{% endblock content %}