{% extends 'base.html' %}

{% block content %}

    <h2>List of Students</h2>
    {% for student in students %}
        <section>
            <h3>{{student.name}}</h3>
            <ul>
                <li>Experience: {{student.experience}}</li>
                <li>Membership: </li>
            </ul>
            <a href="/students/{{ student.id }}">Details</a>
            <a href="">Edit</a>
            <form action="/students/{{student.id}}/delete" method="POST">
                <input type="submit" value="delete">
            </form>
        </section>
        
    {% endfor %}
    
{% endblock content %}