{% extends 'base.html' %}
{% block content %}
    <h2>{{student.name}}</h2>
    <p> Date of Birth: {{student.dob}}</p>
    <p>Level: {{student.experience}}</p>
    <p>Membership: {{student.membership}}</p>
    <p> Contact details: <br>
        Email: {{student.email}} <br>
        Phone: {{student.phone}}</p>


    <ul>
        Courses enrolled: 
        {% for course in courses %}
        <li>{{course.title}}</li>
        {% endfor %}
    </ul>
    <a href="/students/{{student.id}}/edit">Edit</a>
    <form action="/students/{{student.id}}/delete" method="POST">
        <input type="submit" value="delete">
    </form>
{% endblock content %}