{% extends 'base.html' %}
{% block content %}
    
    <div class='student_details'> 
        <h2>{{student.name}}</h2>
        <div id="container_student_details">
            <div class="student_block">
                <p>Level: {{student.experience}}</p>
                <p>Membership: 
                    {% if student.membership == True %} <i>&#10003</i>
                    {% else %}<i> No</i>
                    {% endif %}</p>
                <ul> Contact details:
                    <li> Email: {{student.email}}</li>
                    <li> Phone: {{student.phone}} </li>
                </ul>
                <ul> Personal details:
                    <li>Date of Birth: {{student.dob}} </li>
                </ul>
            </div>
            <ul class= "students-courses">
                Courses enrolled: 
                {% for course in courses %}
                <li>{{course.title}} <a href="{{ url_for('registration.list_registrations')}}">(Change/delete course)</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="edit_delete">
            <a class="edit_student" href="/students/{{student.id}}/edit">Edit student details</a>
            <form action="/students/{{student.id}}/delete" method="POST">
                <input type="submit" value="Delete Student">
            </form> 
            <a href="/registrations/new">Add Course</a>
        </div>
    </div> 
{% endblock content %}