body {
    margin: 0;
}

.home_page{
    height: 90vh;
    background-image: url(/static/images/spoons.jpg);
    background-size: 100% 100%;
    background-position: center bottom;
}
header > .menu > .title > img {
    width: 40%;
}

.title {
    display: flex;
    flex-direction: column;
}

#header_title{
    display: inherit;
    font-family: 'Prata', serif;
    padding-left: 3%;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
    
}
nav > ul {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10%;
}

.home_button{
    display: flex;
    align-items: center;
    margin-right: 5vw;
    background-color: #931a25;
}
nav > ul > li {
    list-style: none;
    border: 2px solid;
    border-radius: 7%;
    padding: 2px 5px;
    margin-left: 20px;
}

.nav_button{
    background-color: #931a25;
    padding: 10px;
}
nav > ul> li > a{
    background-color: #931a25;
    color: #f5efef;
}

a {
    text-decoration: none;
    color:  #931a25;
}

.welcome {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#index_buttons{
    display: flex;
    justify-content: space-evenly;
}
.student_buttons, .course_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid; */
    border-radius: 3%;
}

.index_courses_bt > a, .index_student_bt > a{
    padding: 15px;
    color: black;
}

.student_buttons > button, .course_buttons > button {
    margin: 40px;
    padding: 2.5rem;
    font-size: 120%;
    border-radius: 3%;
    width: inherit !important;
    background-color: white;
}

/* styling for details_student details */
.student_details, .course_details {
    border-top: solid;
    border-bottom: solid;
    margin: 4rem 20%;
    padding-bottom: 3%;
}
#container_student_details, #container_course_details{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#container_student_details > div > ul > li, ul> li{
    padding-left: 2rem;
    list-style: none;
    padding-top: 2%;
}

ul {
    padding-inline-start: 0;
}

.edit_delete{
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0 0 10% ;
}

.edit_student, .edit_course{
    margin-right: 15%;
}

.student_details > h2, .course_details > h2 {
    text-decoration: underline;
    margin-left: 20%;
    margin-top: 5%;
}

.students-courses {
    /* padding-left: 10px; */
    margin-left: 4rem;
    /* width: 90%; */
}
/* course details */
.date_duration_course, .max_teacher {
    display: flex;
    justify-content: space-between;
}

.block_courses{
    margin-left: 10%;
    padding: 0;
    width: 55%;
}

.student_block{
    margin-left: 10%;
    padding: 0;
    width: 55%;
}