{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th colspan="3">Registrations</th>
            </tr>
        </thead>
        <tbody>
            <tr class="header_table">
                <td>ID</td>
                <td>Course</td>
                <td>Student:</td>
            </tr>
          {% for registration in registrations %}
              <tr>
                  <td>{{registration.id}}</td>
                  <td>{{registration.course.title}}</td>
                  <td>{{registration.student.name}}</td>
                  <td class="details"><a href="/registrations/{{registration.id}}/edit">Edit</a></td>
                  <td class="details_delete"><form  action="/registrations/{{registration.id}}/delete" method="POST">
                    <input class="delete_button" type="submit" value="Delete">
                    </form></td>
              </tr>
          {% endfor %}
{% endblock content %}