{% extends 'base.html' %}
{% block content %}

<div class="form_add_create_edit">
    <p>New Registration</p>
    <form action="/registrations" method="POST">
        <div>
            <label for="student_id">Name</label>
            <select name="student_id" id="student_id" >
                {% for student in students %}
                <option value="{{student.id}}"> {{ student.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="course_id">Registration to a new course:</label>
            <select name="course_id" id="course_id" >
                {% for course in courses %}
                <option value="{{course.id}}"> {{ course.title }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Add student">
    </form>
</div>
{% endblock content %}