{% extends 'base.html' %}
{% block content %}
    <div class="welcome">
        <p>Welcome to Mariuca's School Students & Classes manager. </p>
    </div>
    <div id="index_buttons">
        <div class="student_buttons">
            <button class="index_add_student_bt"><a href="{{ url_for('students.new_student') }}"> Add Student </a></button>
            <button class="index_create_student_bt"><a href="{{ url_for('students.list_students')}}">Student List</a></button>
        </div>
        <div class="course_buttons">
            <button class="index_create_course_bt"><a href="{{ url_for('courses.new_course') }}">Create Course</a></button>
            <button class="index_upcoming_courses_bt"><a href="{{ url_for('courses.list_courses')}}">Upcoming Courses</a></button>
        </div>
    </div>
{% endblock content %}