{% extends 'base.html' %}
{% block content %}
<div class="home_page">
    <div class="welcome">
        <q><cite> People who love to eat are always the best people. </q> 
    <figcaption> &mdash; Julia Child  </figcaption>
    </div>
    <div id="index_buttons">
        <div class="student_buttons">
            <button class="index_student_bt"><a href="{{ url_for('students.new_student') }}"> Add Student </a></button>
            <!-- <button class="index_student_bt"><a href="{{ url_for('students.list_students')}}">Student List</a></button> -->
        </div>
        <div class="course_buttons">
            <button class="index_courses_bt"><a href="{{ url_for('courses.new_course') }}">Create Course</a></button>
            <!-- <button class="index_courses_bt"><a href="{{ url_for('courses.list_courses')}}">Upcoming Courses</a></button> -->
        </div>
    </div>
</div>   
{% endblock content %}