{% extends 'base.html' %}
{% block content %}
<section class="index-table home_page">
    <table>
        <thead>
            <tr>
                <th colspan="5">List of Courses</th>
            </tr>
        </thead>
        <tbody>
            <tr class="header_table">
                <td>Course:</td>
                <td>Date:</td>
                <td>Max. Capacity:</td>
                <td>Teacher:</td>
                <td>Availability:</td>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{course.title}}</td>
                <td>{{course.date}}</td>
                <td>{{course.max_num_students}}</td>
                <td>{{course.teacher_name}}</td>
                <td></td>
                <td class="details"><a href="/courses/{{ course.id}}">More details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}