{% extends 'base.html' %}
{% block content %}
<hr>
    <table>
        <thead>
            <tr>
                <th colspan="5">Courses</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Course:</td>
                <td>Date:</td>
                <td>Duration</td>
                <td>N. Students:</td>
                <td>Teacher:</td>
                <td>Availability:</td>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{course.title}}</td>
                <td>{{course.date}}</td>
                <td>{{course.duration}}h</td>
                <td>{{course.max_num_students}}</td>
                <td>{{course.teacher_name}}</td>
                <td><a href="/courses/{{ course.id}}">More details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}