{% extends 'base.html' %}
{% block content %}
    <div class="form_add_create_edit">
        <h2>Add a new course</h2>

        <form class='form_course' action="/courses" method="POST">
            <div class= "column_form">
                <label for="title">Course Title:</label>
                <input type="text" id="title" name="title">
            </div>
            <div class= "column_form">
                <label for="description">Description:</label>
                <textarea id="description" name="description" cols="50" rows="8"></textarea>
            </div>
        <div class="duration_date">
            <div class= "column_form">
                <label for="date">Date:</label>
                <input type="text" id="date" name="date" placeholder="Every:">
            </div>
            <div class= "column_form">
                <label for="duration">Duration:</label>
                <input type="number" id="duration" name="duration" placeholder="Number of hours">
            </div>
        </div>
            <div class= "column_form">
                <label for="max_num_student">Max. Capacity:</label>
                <input type="number" id="max_num_students" name="max_num_students">
            </div>
            <div class= "column_form">
                <label for="teacher_name">Teacher Name:</label>
                <input type="text" id="teacher_name" name="teacher_name">
            </div>
            <input type="submit">

        </form>
    </div>
{% endblock content %}