{% extends 'base.html' %}
{% block content %}
    <h2>Add a new course</h2>

    <form action="/courses" method="POST">
        <div>
            <label for="title">Course Title:</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="text" id="date" name="date">
        </div>
        <div>
            <label for="duration">Duration:</label>
            <input type="number" id="duration" name="duration">
        </div>
        <div>
            <label for="max_num_student">Number of students:</label>
            <input type="number" id="max_num_students" name="max_num_students">
        </div>
        <div>
            <label for="teacher_name">Teacher:</label>
            <input type="text" id="teacher_name" name="teacher_name">
        </div>
        <input type="submit">

    </form>
    
{% endblock content %}