{% extends 'base.html' %}
{% block content %}
<div class="course_details">
    <h2>{{course.title}}</h2>
    <div id="container_course_details">
        <div class="block_courses">
            <p class="description_details"><b>Description:</b> <br> {{course.description}}</p>
            <div class="max_teacher">
                <p><b>Max. number of students: </b>{{course.max_num_students}}</p>
                <p><b>Teacher: </b>{{course.teacher_name}}</p>
            </div>
            <div class="date_duration_course">
                <p>Every {{course.date}}</p>
                <p>Duration: {{course.duration}}h</p>
            </div>
        </div>
        <ul class="students-courses">
            <b>Students list: </b>
            {% for student in students %}
            <li>{{student.name}}</li>
            {% endfor %}
        </ul>
        <a href="/registrations/new">Add Student</a>
    </div>
    <div class="edit_delete">
        <a class ="edit_course" href="/courses/{{ course.id }}/edit">Edit</a>  
        <form action="/courses/{{ course.id}}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </div>
</div>
{% endblock content %}