{% extends 'base.html' %}
{% block content %}

    <h2>{{course.title}}</h2>
    <p>Description: {{course.description}}</p>
    <p>Every {{course.date}}</p>
    <p>Duration: {{course.duration}}h</p>
    <p>Max. number of students: {{course.max_num_students}}</p>
    <ul>
        Students list: 
        {% for student in students %}
        <li>{{student.name}}</li>
        {% endfor %}
    </ul>
    <a href="/courses/{{ course.id }}/edit">Edit</a>
            
    <form action="/courses/{{ course.id}}/delete" method="POST">
        <input type="submit" value="delete">
    </form>
{% endblock content %}